.DS_Store
memo.txt
doc
tags
tests/tmp
target/
lib_managed/
project/boot/
tmp/
.idea
.idea/workspace.xml
.idea/tasks.xml
*.iml
.cache
.classpath
.project
.settings
Version.scala
project/plugins/project/build.properties

# Project-specific
/install/