package dispatch.as

import com.ning.http.client

import _root_.scalaxb.XMLFormat

object scalaxb {
  def apply[T: XMLFormat]: (client.Response => T) =
    dispatch.as.xml.Elem andThen (el => _root_.scalaxb.fromXML(el))
}