package scalaxb

import scala.concurrent.ExecutionContext

trait ExecutionContextProvider {
  implicit def executionContext: ExecutionContext
}

trait GlobalExecutionContextProvider extends ExecutionContextProvider {
  implicit val executionContext: ExecutionContext = scala.concurrent.ExecutionContext.Implicits.global
}