package scalaxb

trait DispatchHttpClientsAsync extends HttpClientsAsync {
  lazy val httpClient = new DispatchHttpClient {}

  trait DispatchHttpClient extends HttpClient {
    import dispatch._, Defaults._

    val http = new Http()
    def request(in: String, address: java.net.URI, headers: Map[String, String]): Future[String] = {
      val req = url(address.toString).underlying(_.setBodyEncoding("UTF-8")) <:< headers << in
      http(req > as.String)
    }
  }
}
