package scalaxb

trait HttpClients {
  def httpClient: HttpClient

  trait HttpClient {
    import dispatch._
    def request(in: String, address: java.net.URI, headers: Map[String, String]): Future[String]
  }
}
